.section3 {
    background-color: #f8f9fa;
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyecto {
    font-size: 2.5rem;
    width: 350px;
    text-align: center;
    font-weight: bold;
    
}

.ayuda-proyecto {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
}

.card {
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    text-align: center;
    line-height: 25px;
}

.card svg {
    color: #f5df4e;
    margin-bottom: 10px;
}

@media (min-width:750px){
    .ayuda-proyecto {
        grid-template-columns: repeat(2, 1fr);
    }

    .proyecto {
        width: 800px;
    }
}

@media (min-width:1250px){
    .ayuda-proyecto {
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        margin: 25px;
    }


}